In [144]:
import pandas as pd
import numpy as np

In [4]:
# Create the DatetimeIndex object containing the yyyy-mm-dd format dates
# for all days from January 2020 and assign it to the date_range variable.

date_range = pd.date_range('2020-01-01', '2020-01-31', freq= 'D')
date_range = pd.DatetimeIndex(date_range)

In [10]:
# Create the DatetimeIndex object containing the dates in the yyyy-mm-dd format
# for all Mondays from 2020 and assign it to the date_range variable.

date_range = pd.date_range('2020-01-06', end = '2020-12-31', freq= '7D')
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='7D')

In [11]:
date_range = pd.date_range(start='2020-01-01', periods=52, freq='W-MON')
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [14]:
# Create the DatetimeIndex object containing the dates in the format yyyy-mm-dd hh: mm: ss for January 1,
# 2021 with a time interval of 1h and assign to the variable date_range.

date_range = pd.date_range(start='2021-01-01', periods= 24, freq='H')
date_range

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [56]:
# Create the following DataFrame object
# The day column contains dates from March 1, 2021 to March 31, 2021.
# The column day_of_year is the day number of the whole year

day = pd.date_range('2021-03-01', '2021-03-31', freq= 'D')

day_of_year = [x.timetuple().tm_yday for x in day]

df = pd.DataFrame(day, columns= ['day'])

df['day_of_year'] = day_of_year

In [2]:
date_range = pd.date_range(start='2021-03-01', periods=31)
df = pd.DataFrame(data=date_range, columns=['day'])
df['day_of_year'] = df['day'].dt.dayofyear

In [131]:
## Create the DateFrame object from following dictionary and assign it to the df variable.
## As an index, add a dates from 2020-01-01 as shown below. In response print this DataFrame to the console.


data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
index = pd.date_range(start = '2020-01-01', periods= 1000)

df = pd.DataFrame(data= data_dict)
df.set_index(index, inplace= True)

In [130]:
## Print the first ten rows of this DataFrame then print blank line and print the last five rows of this object.

a = df.iloc[:10]
ab = pd.DataFrame(index=[' '], data = {'normal' : 'normal', 'uniform' : 'uniform', 'binomial' : 'binomial'})
b = df.iloc[995:]

c = [a, ab, b]

df = pd.concat(c)

In [133]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int32
dtypes: float64(2), int32(1)
memory usage: 27.3 KB

            normal      uniform   binomial
count  1000.000000  1000.000000  1000.0000
mean      0.019261     0.497882     0.2000
std       0.985411     0.294383     0.4002
min      -2.618966     0.000264     0.0000
25%      -0.609014     0.242385     0.0000
50%       0.037937     0.504097     0.0000
75%       0.693817     0.741641     0.0000
max       3.403123     0.999786     1.0000

In [146]:
# Find the distribution of the binomial column from this DataFrame.
# In response, print this distribution to the console as shown below
# 0    800
# 1    200
# Name: binomial, dtype: int64

df['binomial'].value_counts()

0    800
1    200
Name: binomial, dtype: int64

In [147]:
# Extract first 50 rows from the df object and save to the 'dataframe50.csv' file.

df[:50].to_csv('dataframe50.csv')

In [150]:
# The 'dataframe50.csv' file is attached to this exercise.
# Load this file into the df_new variable (remember to load the index correctly) and print the df_new variable to the console.

df_new = pd.read_csv('dataframe50.csv', index_col = 0)