In [1]:
import pandas as pd
import numpy as np

In [2]:
# The google.csv file is attached to this exercise. Load this file into DataFrame using pandas and assign it to the google variable.
# In response, print google variable to the console.

google = pd.read_csv('google.csv')

In [4]:
# The google.csv file is loaded using pandas. Print basic information about google DataFrame,
# then print blank line and print basic statistics for this DataFrame.

google.info()
print()
google.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    30 non-null     object
 1   Open    30 non-null     float64
 2   High    30 non-null     float64
 3   Low     30 non-null     float64
 4   Close   30 non-null     float64
 5   Volume  30 non-null     int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.5+ KB

              Open         High          Low        Close        Volume
count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06